<!-- MAIN CONTAINER -->
<div id="main_container">

    <!-- PROFILE CONTENT -->
    <div id="content_container">
        <div class="block">
            <h1>Work Experience</h1>
        </div>

        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>

        <div class="ncr-atleos">
            <div class="head-text-block">
                <h2> Software Developer</h2>
                <h3> 01.09.2023 - Currently </h3>
            </div>
            <img class="ncr-atleos-photo" src="assets/ncr-atleos.jpg">
            <div class="ncr-atleos-content">
                <h4>Responsibilities :</h4>
                <p> - Software Development: I am responsible for designing and implementing robust software for ATMs. My expertise in C# and C++ plays a crucial role in developing systems that are not only efficient and reliable but also user-friendly.</p>
                <p> - System Integration and Testing: A significant part of my job involves integrating various hardware and software components to ensure smooth ATM operations. This includes conducting thorough testing to identify and rectify any potential issues, guaranteeing the reliability and performance of the machines.</p>
                <p> - Security Implementation: Recognizing the critical importance of security in financial transactions, I dedicate a considerable part of my work to implementing and maintaining strong security protocols. This encompasses encryption techniques, secure communication protocols, and defenses against potential security breaches.</p>
                <p> - Troubleshooting and Maintenance: I regularly tackle hardware and software issues, ensuring minimal downtime for ATMs and maintaining high service standards.</p>
                <p> - Automation and Scripting: Utilizing PowerShell, I streamline various processes such as software deployment, updates, and system maintenance through effective scripting and automation.</p>
                <p> - Collaborative Efforts: I work closely with cross-functional teams, including hardware engineers and product managers, to ensure that software development aligns with the organization's broader goals and deadlines.</p>
            </div>
        </div>

        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>

        <div class="accenture">
            <div class="head-text-block">
                <h2> Intern DevOps Enginner</h2>
                <h3> 28.11.2022 - 01.09.2023 </h3>
            </div>
            <img class="acce-photo" src="assets/acce.png">
            <div class="accenture-content">
                <h4>Daily tasks:</h4>
                <p> - Monitoring servers</p>
                <p> - Proccess automatization by using Powershell and Groovy</p>
                <p> - Creating jobs by using Jenkins (Pipelines too)</p>
                <p> - Creating SQL queries to the data base</p>
                <p> - Creating documentation by using Confluence</p>
                <p> - Administrating Jira and BitBucket (adding roles, creating repositories etc.)</p>
            </div>
        </div>

        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>

        <div class="capita">
            <div class="head-text-block">
                <h2> Customer Service Agent</h2>
                <h3> 03.03.2022 - 28.11.2022 </h3>
            </div>
            <img class="capita-photo" src="assets/capita.jpg">
            <div class="capita-content">
                <h4> Daily tasks: </h4>
                <p> - Talking to Irish nationality clients</p>
                <p> - Encouraging them to extend their contract with us. </p>
                <p> - Solving their problems such as omitted electricity bill. </p>
                <p> - Instructing how to perform various actions, ex. make an online payment.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <div id="footer">
        <p class="footer_name">Wiktor Kot CV 2023</p>
    </div>
</div>