<!-- MAIN CONTAINER -->
<div id="main_container">

    <!-- PROFILE CONTENT -->
    <div id="content_container">
        <div class="block">
            <h1>Education</h1>
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="block">
            <h2>Polish-Japanese Academy
                of Information Technology</h2>
                <img class="pjatk-photo" src="assets/pjatk.jpg">
                <div class="years-of-study">
                    <h2>2022 - 2026</h2>
                    <h3>Bachelor of Science in Computer Science, Part-time program</h3>
                </div>
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="content">
            <p>At the Polish-Japanese Academy of Information Technology (PJATK) in Warsaw, I am pursuing a part-time Bachelor's
                degree in Computer Science with an anticipated graduation year of 2026. PJATK is a renowned institution in
                Poland, known for its strong collaboration with Japanese universities and companies, which fosters a unique
                blend of Eastern and Western approaches to technology and education.
            </p>

            <p>Through my studies at PJATK, I am acquiring comprehensive knowledge and skills in various aspects of computer 
                science, including programming, algorithms, data structures, computer networks, and software engineering. The 
                curriculum emphasizes both practical and theoretical aspects of the field, providing me with a strong foundation
                for pursuing a successful career in the technology industry.
            </p>

            <p>PJATK's faculty consists of experienced and knowledgeable professionals who are dedicated to providing students
                with the best possible education. The institution also offers numerous opportunities for students to engage in
                research, internships, and networking events, helping us gain practical experience and build connections within
                the industry.
            </p>

            <p>By studying at PJATK, I am not only gaining a solid education in computer science, but also benefiting from the
                unique cultural exchange and interdisciplinary approach that the institution offers. This environment is preparing
                me to excel in the global technology market and contribute to the development of innovative solutions in the 
                field.
            </p>
        </div>

        <div class="last block">
        </div>
    </div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <div id="footer">
        <p class="footer_name">Wiktor Kot CV 2023</p>
    </div>
</div>