<!-- MAIN CONTAINER -->
<div id="main_container">
  <!-- HEADER -->
  <div id="header">
    <!-- LOGOTYPE/NAME -->
    <div class="header_logotype_container">
      <h1 class="logotype_name">Wiktor <span class="purple">Kot</span></h1>
      <h2 class="logotype_occupationa">Embedded Software Developer C++/C#</h2>
    </div>
    <!-- MAIN MENU -->
    <div class="header_menu_container">
      <ul class="horizontal_list">
      </ul>
      <div class="clear"></div>
      <ul class="header_menu horizontal_list">
        <li><a routerLink="/" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
        <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li><a routerLink="/work-experience" routerLinkActive="active">Work Experience</a></li>
        <li><a routerLink="/featured-projects" routerLinkActive="active">Featured Projects</a></li>
      </ul>
    </div>
  </div>

  <!-- LEFT COL -->
  <div id="left_col">
    <div class="profile_frame">
      <img class="profile_picture" src="assets/photo.png" alt="profile picture">
    </div>
    <div class="hello_content">
      <h1 class="hello_message">Hello!</h1>
      <div class="header_separator"></div>
      <p>I'm passionate about technology and human behavior, hardworker and a fast-learner I love to push myself out
        of my
        comfort zone.</p>
    </div>

    <div class="contact_details_content">
      <h2 class="header_1">Contact details</h2>
      <div class="header_separator"></div>
      <h3 class="header_2">Click to see!</h3>
      <div class="Phone-Button">
        <button type="button" class="btn btn-primary equal-width-button" (click)="toggleContactInfo('phone')">
          Phone
        </button>
        <div *ngIf="showPhoneInfo" class="contact-info-container">
          <b class="contact-info">+48 606 634 481</b>
        </div>
      </div>
      <div class="Email-Button">
        <button type="button" class="btn btn-primary equal-width-button" (click)="toggleContactInfo('email')">
          Email
        </button>
        <div *ngIf="showEmailInfo" class="contact-info-container">
          <b class="contact-info">wiktorkot22@gmail.com</b>
        </div>
      </div>
    </div>
    
    <a href="mailto:wiktorkot22@gmail.com" class="send_message_button">
      <span class="cut1"></span>
      <span class="cut2"></span>
      <span class="content">Send me a message <span class="fontawesome-double-angle-right"></span></span>
    </a>
    <div class="get_social_content">
      <h2>My socials</h2>
      <ul class="social_icons horizontal_list">
        <li>
          <a class="facebook" href="https://www.facebook.com/wiktor.kot.10/">
            <img class="codewars-icon" src="assets/facebook.png">
            <span class="invisible">Facebook</span>
          </a>
        </li>
        <li>
          <a class="codewars" href="https://www.codewars.com/users/VaxiZ">
            <img class="codewars-icon" src="assets/codewarslogo.png">
            <span class="invisible">Codewars</span>
          </a>
        </li>
        <li>
          <a class="linkedin" href="https://www.linkedin.com/in/wiktor-kot-8a0716249/">
            <img class="codewars-icon" src="assets/linkedin.png">
            <span class="invisible">LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="github" href="https://github.com/MrVaxiZ">
            <img class="codewars-icon" src="assets/github.png">
            <span class="invisible">Github</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="Everything-Besides-Headers" *ngIf="isRouteActive('/')">
    <!-- PROFILE CONTENT -->
    <div id="content_container">
      <div class="block">
        <h1>Profile</h1>
        <blockquote class="profile_quote">
          <p>"The man who asks a question is a fool for a minute, the man who does not ask is a fool for life."
          </p>
          <p>~Confucius</p>
          <span class="entypo-quote"></span>
        </blockquote>
      </div>
      <div class="block">
        <h2>A few words about me</h2>
        <p>As an Embedded Software Developer specializing in ATM technology, I bring a vibrant blend of enthusiasm, creativity, and resilience to my role. My journey in software development began in earnest in January 2022, with a focus on C#, leading me to solve over 100 challenges on Codewars.com. This pursuit of excellence is a testament to my positive attitude and relentless drive.<br><br>

          My primary expertise lies in using languages like C# and C++ to develop and maintain sophisticated software for ATMs. In this capacity, I excel at integrating various software and hardware components to ensure seamless operations. My approach to system integration and testing is meticulous, ensuring that ATMs are not just reliable but also user-friendly.<br><br>
          
          A key aspect of my work involves implementing and maintaining stringent security measures, a critical element given the nature of ATMs. I apply robust encryption and secure communication protocols to safeguard financial transactions, reflecting my ability to remain composed and focused, even under pressure.<br><br>
          
          Troubleshooting and system maintenance form a significant part of my responsibilities, where my ability to stay calm and think clearly in stressful situations proves invaluable. This poise under pressure is further enhanced by my skills in PowerShell, which I use for effective scripting and automation, thereby streamlining various processes.<br><br>
          
          My journey in software development is also marked by continuous learning and expansion of my skill set. Since December 2022, I have been diversifying into web development with Angular and ASP .NET Core Frameworks. My GitHub profile stands as a testament to my commitment to professional growth, showcasing a range of projects that underline my technical prowess.<br><br>
          
          Working in direct contact with customers in English for nine months has not only honed my language skills but also my ability to establish and maintain strong interpersonal relationships. Whether working independently or as part of a team, I have always found it easy to connect with others and work collaboratively towards common goals.<br><br>
          
          As I continue to evolve in this fast-paced field, I am eager to bring my unique blend of technical skill, creativity, and positive outlook to a dynamic new role, contributing to innovative ATM solutions and furthering my professional growth in the exciting world of technology.</p>
      </div>
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
      
      <div class="last block">
        <h2>Interests & Hobbies</h2>
        <p>I'm passionate about programming and technology however I have few diffrent hobbies and interests:</p>
        <ul>
          <li>Traveling</li>
          <li>Reading</li>
          <li>Space and astro-physics</li>
          <li>Video Games</li>
          <li>Stock & Investments</li>
          <li>Martial arts</li>
          <li>Snowboarding</li>
        </ul>
      </div>
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
      <div class="block">
        <h2>Philosophy I follow</h2>
        <h3>Stoicism</h3>
        <p>I belive in ethic and moral not in imposed rules that you "have to" do or follow.</p>
        <div class="main-content-stoicism">
          <p>
            I believe in living a life guided by the principles of Stoicism. Rather than blindly following imposed
            rules or societal norms, I believe in taking personal responsibility for one's actions and striving to live
            a life of virtue.
          </p>

          <p>
            Stoicism encourages individuals to cultivate rationality, self-control, and a sense of purpose in life. By
            focusing on what we can control and accepting what we cannot, Stoics seek to find inner peace and
            contentment regardless of external circumstances.
          </p>

          <p>
            In my own life, I strive to live according to the tenets of Stoicism, embracing its pragmatic, honest, and
            respectful approach to the world. I aim to keep an open mind and seek out new perspectives, while also
            striving to maintain coherence in my beliefs and actions.
          </p>

          <p>
            Ultimately, Stoicism offers a powerful framework for navigating the complexities of life, emphasizing
            personal growth and the pursuit of virtue over external validation or material success. It encourages us to
            live with intention and purpose, to cultivate resilience and mental toughness, and to approach life with a
            sense of gratitude and humility.
          </p>
        </div>
        <div class="main-features">
          <h3>The main features of stoicism: </h3>
        </div>
        <ul>
          <li>Pragmatic</li>
          <li>Honest</li>
          <li>Respectful</li>
          <li>Open-minded</li>
          <li>Virtue</li>
          <li>Reason</li>
          <li>Control</li>
          <li>Mindfulness</li>
          <li>Resilience</li>
          <li>Gratitude</li>
          <li>Duty</li>
        </ul>
      </div>
      

    </div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <div id="footer">
      <p class="footer_name">Wiktor Kot CV 2023</p>
    </div>
  </div>
</div>