<!-- MAIN CONTAINER -->
<div id="main_container">

    <!-- PROFILE CONTENT -->
    <div id="content_container">
        <div class="block">
            <h1>Project</h1>
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="block">
            
        </div>

        <div class="last block">
        </div>
    </div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <div id="footer">
        <p class="footer_name">Wiktor Kot CV 2023</p>
    </div>
</div>