<!-- MAIN CONTAINER -->
<div id="main_container">

    <!-- PROFILE CONTENT -->
    <div id="content_container">
        <div class="block">
            <h1>Project: Dating-App</h1>
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="first-paragraph">
            <p>
                For around 5 weeks I have been developing Dating-App that is very similiar to Tinder or other apps like this but there is one key
                diffrence which is collage limit only.
            </p> 
            <p>
                This bacicly means that the app will show people only from their collage just like facebook at the begginings. It will
                work in a way that user have to provide his/her collage email. In my case as a PJATK student it would be "SXXXXX@pjwstk.edu.pl" 
            </p>
            <p>
                You could realize that I am using future form even tho I am developing this app for 5 weeks now. It's not without a reason. 
                I was focusing on working skeleton which is database, API and ofcoruse Client side things which I mentioned is last part of developing
                this app and it will be added at the ending as it is easy however few days ago I encounter a obsticle on may way.
            </p>
            <p>
                I decided to change a database from SQlite to PostgreSql as I could not stand annoying bugs from SQlite while creating new migrations
                when I was doing that I decided to also publish app like it is to couple of friends just so they could test it's functionality. 
            </p>
            <p>
                I already had bought hosting for it but while doing that I did not saw that my current plan does not support .net api or docker so it's
                impossible to develop this app on that hosting and to publish that I would have to rent VPS which I will do but this is the obsticle
                that currently stopped me from developing this app. However you can check it in current status on my <a href="https://github.com/MrVaxiZ/Dating-App/tree/main/DA" style="color: rgb(36, 101, 163);">GitHub</a>

            </p>
            <p>
                Of course I could still develop this app on diffrent platform like azure right? I don't know how other platforms but I 
                tried azure and there is a problem with PostgreSql server as azure does not allow to set up free server or at least in 
                resionable prices and this app cannot work without database.
            </p>
            <p>
                So all is left would be to develop this app offline and yes it is possible of course and I will still be doing that.
                I thought that it would be just a good idea to share the issue I encounter lately :)
            </p>
        </div>

        <div class="last block">
        </div>
    </div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <div id="footer">
        <p class="footer_name">Wiktor Kot CV 2023</p>
    </div>
</div>